SHELL=/bin/bash
PATH=/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/bin
MAILTO=root
HOME=/

1 0 * * * /vagrant/scripts/nightly.sh
5 22 1 * * /vagrant/scripts/monthly.sh
5 18 * * 6 /vagrant/scripts/weekly.sh
