# Workspace
.vagrant

# Private data
confs/*
docker_disk.vdi

# Generated and cached data
artifacts
distfiles
entropy_artifacts
entropycache
logs
portage_artifacts
portagecache

# Child git clone
repositories
# For local testing
local-repositories
